.gallery-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
    padding: 20px;
    gap: 10px;
    grid-template-areas:
    "ele4 ele1 ele2"
    "ele4 ele1 ele2"
    "ele4 ele3 ele3"
    "ele4 ele3 ele3";


    .gallery__item{
    position: relative;
    transition: all 400ms ease;
    
        &:hover{
            transform: translateY(-50px);
            box-shadow: 5px 5px 20px rgb(47, 12, 80);
        }
    }
    
    
    & a{
    padding: 0;
    }
    
    .gallery__item1{
        grid-area: ele1;
    }
    
    .gallery__item2{
        grid-area: ele2
    }
    
    .gallery__item3{
        grid-area: ele3
    }
    
    .gallery__item4{
        grid-area: ele4
    }
    
    .gallery__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    } 
    
    .gallery__tittle{
        position: absolute;
        bottom: 0;
        background: rgba(255, 255, 255,0.5);
        margin: 0;
        color: black;
        padding: 0;
    }
    
    
}

h2{ 
    text-align: center;
    padding-top: 2rem;
}