@mixin formstyle {
    width: 100%;
    padding: 0.7em;
    border: none;
    background: none;
    outline: none;
    color: #fff;
    border-bottom: 1px solid #d63031;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { font-family: 'Lora', serif;
    background-color: black;
    color: white;
}


.contain{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
        .logo{
            text-align: center;
            font-size: 3em;
        }
}


.container-main{
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.container-main > * {
    padding: 1em;
}

.container-form{
    background: #222222;

        & form{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        & form .block{
            grid-column: 1 / 3;
        }
        & form p{
            margin: 0;
            padding: 1em;
        }
        & form input{
            @include formstyle;
        }
        
        & form textarea{
            @include formstyle;
        }

        & form button{
            background: #b70e21;
            color: black;
            border: none;
            text-transform: uppercase;
            padding: 1em;
            width: 100%;
        }
}



.container-form form button:hover,
.container-form form button:focus{
    background: #d63031;
    color: white;
    transition: background 1s ease-out;
    outline: none;
}

/*info section*/

.container-info{
    margin-right: 5px;
    background: #000;

    &_margin{
        margin-right: 5px; 
    }

    & h4{
        text-align: center;
        margin: 0 0 1rem 0;
    }

    & ul{
        text-align: center;
        margin: 0 0 1rem 0;
    }

    & p{
        text-align: center;
        margin: 0 0 1rem 0;
    }
}

.container-info ul{
    list-style: none;
    padding: 0;

    & ul li{
        padding: 0.3em;
    }

}

/*DESKTOP*/

@media (min-width: 768px){
    

    .container-main{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .container-main > * {
        padding: 2em;
    }

    .container-info h4,
    .container-info ul,
    .container-info p{
        padding: 1em;
        text-align: left;
    }

}