.container-footer {
    width: 100%;
    bottom: 0;

    & ul li {
      transition: all 0.3s ease;
    }

    & ul li:hover {
      transform: translateY(-10px);
    }
    
    & ul li a {
      display: inline-block;
      text-decoration: none;
      font-size: 30px;
      line-height: 45px;
      padding: 0 1rem;
      color: white;
      text-align: center;
    }
  }