




/**HERO INDEX**/
.banner{
position: relative;
width: 100%;
height: 100vh;
background-image: url(/imagenes/galeria4.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;

        .container-hero{
        width: 100%;
        height: 100%;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

            a{
            text-decoration: none;
            color: #fff;
            padding: 9px 20px;
            border: 1px solid #fff;
            transition: all .3s ease-in-out;

            &:hover{
            background-color: #fff;
            color: #333;
            }

            }
            
        }
}


/**ELEGINOS INDEX**/

.eleginos{
    background-color:rgba(1,1,1,255) ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2rem; 
    margin-top: 2rem;

    h2{
        padding: 4rem;
    }
    
    ul{
        padding: 2rem;
        list-style: none;
    }
}


/**FORMULARIO INDEX**/

.formulario{
    width: calc(60rem, 100%);
    margin: 0 auto;
    padding: 1.5rem;

    fieldset{
        border: none;
        text-align: center;
    }
    
    legend{
        text-align: center;
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 2rem;
    }
}


.campo{
    margin-bottom: 1rem;

    label{
        font-weight: bold;
        margin-top: .5rem;
        display: block;
    }
}


.input-text{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}