
/*PAGINA INDEX*/

@media  screen and (max-width: 500px){

    .input-text{
        width: 100%;
        border: none;
        padding: 1.5rem;
        border-radius: .5rem;
    }
}

@media  screen and (max-width: 1024px) {

    .eleginos{
        display: block;

        .imagenlogo{
            text-align: center ;
        }
    }
    
    .eleginos .lista{
    text-align: center;
    }
    
}

/*PAGINA CATEGORIAS*/
@media (max-width:500px){

    .gallery-container{
    display: inline-block;
    }
    
    .gallery__item{
    margin-bottom: 2rem;
    }
    
}

  
/*PAGINA PRODUCTOS*/
@media  screen and (max-width: 600px) {
    .eleginos img{
        display: none;
    }
    
    
    .container .productos img{
    width: 250px;
    height: 370px;
    object-fit:none;
    }
    
    
    .container-cartas{
    border-radius: none;
    border: none;
    box-shadow: none
    }
    
    .container-cartas{
    display:block;
    }
    
    .carta{
    padding: 7rem;
    }
    
    .eleginos{
    margin-top: 3rem;
    }
    
}